:local {
    .header {
        height: 50px;
        background: #008ec9;
        padding: 15px 10px;
        box-sizing: border-box;
    }

    .logo {
        font-weight: 700;
        color: white;
    }
}
