:local {
    .wrap {
        padding: 15px 0;
    }

    .priceShares {
        margin: 10px 0;
    }

    .wrapForm {
        padding: 15px 0;
    }

    .input {
        width: 60px;
        border: 1px solid #e5e5e5;
        padding: 8px 15px;
        margin-right: 10px;
    }

    .btn {
        background: #008ec9;
        color: white;
        border: none;
        padding: 8px 15px;
        border-radius: 3px;
    }
}
