:local {
    .wrap {
        padding: 15px 0;
    }

    .btn {
        background: #008ec9;
        color: white;
        border: none;
        padding: 8px 15px;
        border-radius: 3px;
    }
}
