:local {
    .wrapSelect {
        padding-bottom: 15px;
        display: flex;
    }

    .select {
        margin-right: 10px;
        width: 100%;

        &:last-child {
            margin-right: 0;
        }
    }
}
